Flask
Flask-SQLAlchemy
Flask-Security
email_validator
pytest
coverage
beautifulsoup4
Flask-Migrate
flask-security-too
email_validator
bcrypt
flask_restful
redis
celery[redis]
flask-sse 
gunicorn
gevent
Flask-Caching